* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.left {
float: left;
}

.right {
    float: right;
}

aside {
    background: black;
    height: 100vh;
    width: 30vw;
}

aside img {
    width: 20vw;
    border-radius: 50%;
    border: 1vh solid #3eb4894b;
    margin-top: 25vh;
    margin-left: 5vw;
}

a {
    color: #3EB489;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 80%;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul a:hover {
    color: #7cb9a3;
}

main {
    width: 65vw;
    padding-left: 6%;
    box-sizing: border-box;
}

main h1 {
    margin-top: 40vh;
}

main p, ul{
    margin-top: 9vh;
    margin-bottom: 9vh;
}

main .text-green{
    color: #1d5742;
}

.social {
    width: 3vw;
    border-radius: 50%
}
